---
import Layout from '@/layouts/Layout.astro';
import { getContentEntries } from '@/site-content/utils.astro';
import { components } from '@/mdx/components';
import type { AstroComponentFactory } from 'astro/dist/runtime/server';
import type { MarkdownHeading } from 'astro';
import RightSidebar from '@/components/RightSidebar/RightSidebar.astro';
import TableOfContents from '@/components/RightSidebar/TableOfContents';
import { generateToc } from '@/util/generateToc';

export type Props = {
	Component: AstroComponentFactory;
	title: string;
	headings: MarkdownHeading[];
};

export async function getStaticPaths() {
	const articles = await getContentEntries();
	return articles.map((article) => {
		const { ogImage, ogDescription } = article as unknown as {
			ogImage?: string;
			ogDescription?: string;
		};

		return {
			params: { pages: article.url },
			props: {
				Component: article.Content,
				title: article.frontmatter.title,
				headings: article.getHeadings(),
				ogImage,
				ogDescription,
			},
		};
	});
}

const { Component, title, headings, ogImage, ogDescription } = Astro.props;
---

<Layout title={title} ogImage={ogImage} ogDescription={ogDescription}>
	{
		/* Yes, this is intended to be >1 - we don't need an "On this page" section for only one heading. */
	}
	{
		headings.length > 1 && (
			<RightSidebar slot="secondary-sidebar">
				<TableOfContents toc={generateToc(headings)} slot="nav" client:idle />
			</RightSidebar>
		)
	}
	<main>
		<Component components={components} />
	</main>
</Layout>
