---
import LeftSidebar from '@/components/LeftSidebar/LeftSidebar.astro';
import Header from '@/components/Header/Header.astro';
import './Layout.css';
export interface Props {
	title: string;
	ogImage?: string;
	ogDescription?: string;
}

const { title, ogImage, ogDescription } = Astro.props;
const currentPage = Astro.url.pathname;
const canonicalURL = new URL(Astro.url.pathname.replace(/([^/])$/, '$1/'), Astro.site);

const gitHash = import.meta.env.GIT_HASH ?? 'HEAD';
---

<!DOCTYPE html>
<html lang="en" class="scroll-pt-24">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="canonical" href={canonicalURL} />
		<!-- <link rel="icon" type="image/svg+xml" href="/favicon.svg" /> -->
		<meta name="generator" content={Astro.generator} />
		<meta name="git-version" content={gitHash} />

		<meta property="og:title" content={title} />
		<meta property="og:type" content="article" />
		<meta property="og:url" content={canonicalURL} />
		<meta property="og:locale" content="en">
		{ogImage && <meta property="og:image" content={new URL(ogImage, Astro.site)} />}
		{ogDescription &&
			<meta
				name="description"
				property="og:description"
				content={ogDescription}
			/>}
		<meta name="og:site_name" content="World Encyclopedia" />

		{ogImage
			? <meta name="twitter:card" content="summary_large_image"/>
			: <meta name="twitter:card" content="summary"/>}
		<meta name="twitter:site" content="World Encyclopedia" />
		<meta property="twitter:title" content={title} />
		{ogDescription &&
			<meta
				name="twitter:description"
				content={ogDescription}
			/>}
		{ogImage && <meta property="twitter:image" content={new URL(ogImage, Astro.site)} />}


		<title>{title}</title>
	</head>
	<body class="theme-blue-dark">
		<Header currentPage={currentPage} hasSecondarySidebar={Astro.slots.has('secondary-sidebar')} />
		<main class="layout">
			<aside id="left-sidebar" class="sidebar">
				<slot name="primary-sidebar">
					<LeftSidebar currentPage={currentPage} />
				</slot>
			</aside>
			<aside id="right-sidebar" class="sidebar">
				<slot name="secondary-sidebar" />
			</aside>
			<div id="main-content" class="main-column">
				<slot name="pre-article" />
				<article id="article">
					<slot />
				</article>
			</div>
		</main>
		<div class="main-column">
			<slot name="footer">
				<!-- <Footer /> -->
			</slot>
		</div>
	</body>
</html>
